body {
  background-color: black;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

/* 왼쪽 */
.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left-top-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  width: 270px;
  height: 150px;
}

.title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 35px;
  padding-left: 25px;
  margin: 0;
}

.left-center-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-text {
  color: white;
  font-size: 20px;
}

.sub-text {
  color: white;
  font-size: 20px;
}

.left-bottom-container {
  display: flex;
}

.track {
  display: flex;
  gap: 60px;
}

.track-container {
  width: 200px;
  height: 200px;
  font-size: 40px;
  color: black;
  border: 3px solid orange;
  border-radius: 15px;
  background-color: white;
  font-weight: bold;
  text-align: center;
  line-height: 190px;
}

/* 오른쪽 */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.right-top-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.right-center-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  position: relative;
}

.icon i {
  position: absolute;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 0;
  bottom: 0;
  right: 335px;
  display: flex;
  align-items: center;
  font-size: 30px;
  background-color: white;
  color: gray;
}

input {
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  border-radius: 30px;
  padding-left: 100px;
}

.right-bottom-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: orange;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 833px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-container,
  .right-container {
    width: 90%;
    align-items: center;
    text-align: flex-start;
    margin-top: 50px;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 33px;
  }

  .track {
    display: flex;
    flex-direction: row;
  }

  .track-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    font-size: 25px;
    line-height: 90px;
    margin: 5px;
  }

  input {
    width: 250px;
    height: 45px;
    padding-left: 60px;
    font-size: 20px;
  }

  .login-button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
  }

  .icon i {
    right: 270px;
    font-size: 20px;
  }
}
